/* Define the "LCD Tecno" font and its source */
@font-face {
  font-family: "LCD Tecno";
  src: url("font.ttf");
}

/* Set the background color of the page to black and remove margins and padding */
html,
body {
  background: url('bg.gif') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Create a container for the page content that is centered vertically and horizontally */
.container {
  height: 80%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Style the header with "Gabriola" font, white color, and center alignment */
h1 {
  color: white;
  display: flex;
  font-family: "Gabriola";
  font-size: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: -500px;
}

/* Style the stopwatch display with "LCD Tecno" font, white color, and large size */
p {
  color: white;
  font-family: "LCD Tecno";
  font-size: 400px;
  margin-bottom: -15px;
}

/* Style the buttons with large font size and spacing */
.btn {
  font-size: 50px;
  margin-right: 100px;
  border-radius: 25%;
}

/* Style the button container with even spacing and large font size */
#combobtn {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}
